@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  font-family: nasalization, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D0C20;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */

}
div{

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
h2{

}
img{

}
P{

}
